<ion-content>
  <ion-header>
    <ion-toolbar>
      <a href="home" style="font-family: Georgia, 'Times New Roman', Times, serif; color: black; font-size: medium;"><ion-icon slot="start" name="arrow-back-circle"></ion-icon>Back</a>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <center><Img src="/assets/k.jpg" style="margin-top: 50px; border-radius:50%; float:center; width:200px;height:150px;"></center>
      <style>
        div{
          text-align: center;
        }
        ion-content{
          --background: #05000000;
        }
        ion-toolbar{
        --background: #ffffff00;
        }
        ion-button{
          --background: #fa6dbab0;
        
        }
        ion-content {
  --background: url(../../assets/bbb.jpg) no-repeat center/cover fixed;
        }

      </style>
<ion-label>
    <center><h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;">DOCTOR'S LOGIN</h1></center>
</ion-label>
<ion-card-content>

<ion-label position="floating">Email</ion-label>
<ion-item>
 <ion-input type="email" ></ion-input>
</ion-item>
<br>  
 <ion-label position="floating">Password</ion-label>
<ion-item>
 <ion-input type="password"></ion-input>

</ion-item>
<br>
      <center><ion-button href="ddetails">Log in</ion-button></center>
      
      <center><ion-label style= "color:#0e0c0cef;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"size = "full" fill="clear">Already have account?</ion-label><a href="create" class="button">Create Account</a></center>
  
</ion-card-content>