<style>
    div{
      text-align: center;
    }
    ion-content{
      --background: #05000000;
    }
    ion-toolbar{
    --background: #ffffff00;
    }
    ion-button{
      --background: #fa6dbab0;
    
    }
    ion-content {
--background: url(../../assets/bbb.jpg) no-repeat center/cover fixed;
    }

  </style>
  <ion-content>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <a href="ddetails" style="font-family: Georgia, 'Times New Roman', Times, serif; color: black; font-size: medium;"><ion-icon slot="start" name="arrow-back-circle"></ion-icon>Back</a>
        </ion-toolbar>
      </ion-header>
    <ion-content>
      <center><Img src="/assets/f.jpg" style="margin-top: 50px; border-radius:50%; float:center; width:200px;height:150px;"></center>
<ion-label>
<center><h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;">ADD PATIENT</h1></center>
</ion-label>
<ion-card-content>
<ion-label position="floating">FULLNAME</ion-label>
<ion-item>
<ion-input type="fullname"></ion-input>
</ion-item>
<br>  
<ion-label position="floating">CONTACT NO.</ion-label>
<ion-item>
<ion-input type="contact"></ion-input>
</ion-item>
<br>
<ion-label position="floating">ADDRESS</ion-label>
<ion-item>
<ion-input type="address"></ion-input>
</ion-item>
<br>
<ion-label position="floating">USERNAME</ion-label>
<ion-item>
<ion-input type="email"></ion-input>
</ion-item>
<br>
<ion-label position="floating">PASSWORD</ion-label>
<ion-item>
<ion-input type="password"></ion-input>
</ion-item>
<br>
  <center><ion-button href="ddetails">REGISTER</ion-button></center>
</ion-card-content>
  </ion-content>