<style>
  ion-content {
 --background: url(../../assets/bbb.jpg) no-repeat center/cover fixed;
       }
  ion-card {
    --background:#ffffff;
  }
</style>
<ion-content>
  <ion-card>
    <center><h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="call" slot="start"></ion-icon>&nbsp; CareForYou Clinic</h1></center>
    <center><ion-card-subtitle>You may contact us via;</ion-card-subtitle></center>
    <ion-card-content>
      <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="logo-facebook" slot="start"></ion-icon>&nbsp; Facebook Acc.</h1>
      <div class="ion-padding" slot="content">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://web.facebook.com/ryfallarcuna">Ryan Fallarcuna</a></ion-label>
        <br>
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://web.facebook.com/kayeangeli.tiosan1">Kaye Tiosan</a></ion-label>
        <br>
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://web.facebook.com/jimboygelito20">Jimboy Gelito</a></ion-label>
        <br>
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://web.facebook.com/chrenzyy">Chrenzy Alamarez</a></ion-label>  
            </div>
            <br>
            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="mail" slot="start"></ion-icon>&nbsp; Gmail Acc.</h1>
      <div class="ion-padding" slot="content">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="mailto:ryanroy.fallarcuna@g.batstate-u.edu.ph">Ryan Fallarcuna</a></ion-label>
        <br>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="mailto:kayeangeli.tiosan@g.batstate-u.edu.ph">Kaye Tiosan</a></ion-label>
        <br>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="mailto:jim_-boy.gelito@g.batstate-u.edu.ph">Jimboy Gelito</a></ion-label>
        <br>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>&nbsp;<a target="_blank" rel="noopener noreferrer" href="mailto:chrenzylorraine.almarez@g.batstate-u.edu.ph">Chrenzy Almarez</a></ion-label>  
            </div>
            <br>
            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="call" slot="start"></ion-icon>&nbsp; Emergency Hotline</h1>
            <div class="ion-padding" slot="content">
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>&nbsp;DOH: 02-894-COVID (02-894-26843)</ion-label>
              <br>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>&nbsp; Batangas Medical Center	 (043) 740 8307</ion-label>
              <br>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>&nbsp;Jesus of Nazareth Hospital	 (043) 723 4144</ion-label>
              <br>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>&nbsp; St. Patricks Hospital and Medical Center	 (043) 723 7089 – 92</ion-label>  
                  </div>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark pink">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="home">
        <ion-icon name="caret-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>