<style>
  ion-content {
 --background: url(../../assets/bbb.jpg) no-repeat center/cover fixed;
       }
  ion-card {
    --background:#ffffff;
  }
</style>
<ion-content>
  <br>
  <ion-card>
    <center><h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="bulb" slot="start"></ion-icon>&nbsp;Tips for a Healthy Pregnancy</h1></center>
    <center><ion-card-subtitle>Before you can take care of your new baby, you need to take care of yourself and your unborn child. </ion-card-subtitle></center>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Take a prenatal vitamin</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Exercise regularly</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Write a birth plan</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Educate yourself</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Change your chores (avoid harsh or toxic cleaners, heavy lifting)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Track your weight gain (normal weight gain is 25-35 pounds)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Get comfortable shoes</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Eat folate-rich foods (lentils, asparagus, oranges, fortified cereals)</ion-label>
        </ion-item>
        <ion-button fill="outline" slot="end" href="https://health.ucsd.edu/news/features/pages/2016-01-05-36-pregnancy-tips-listicle.aspx">SEE MORE</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark pink">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="pfile">
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
