<style>
   ion-content {
  --background: url(../../assets/bb.jpg) no-repeat center/cover fixed;
        }
   ion-button{
   --background: #fa6dbab0;      
        } 
</style>
<ion-content>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
          <center><Img src="/assets/ob.png" style="margin: 20px; border-radius:50%; float:center; width:100px;height:100px;" /></center>
          <center><ion-label style="font-family: Georgia, 'Times New Roman', Times, serif; color: black; font-size: medium;"><i>"Take care of your body. It's the only place you have to live in."</i></ion-label></center>
        <br>
        <br>
          <center><ion-button href="plog">PATIENT<ion-icon slot="icon-only" name="person"></ion-icon></ion-button></center>
          <center><ion-button href="dlog">DOCTOR<ion-icon slot="icon-only" name="person"></ion-icon></ion-button></center>
          <br>
          <center><a href="us" style="font-family: Georgia, 'Times New Roman', Times, serif; color: black; font-size: medium;"><ion-icon slot="start" name="information-circle"></ion-icon>&nbsp; ABOUT US</a> &nbsp; <a href="contact" style="font-family: Georgia, 'Times New Roman', Times, serif; color: black; font-size: medium;"><ion-icon slot="start" name="mail"></ion-icon>&nbsp; CONTACTS</a></center>
  
  </ion-content>