<style>
  ion-content {
 --background: url(../../assets/bbb.jpg) no-repeat center/cover fixed;
       }
  ion-card {
    --background:#ffffff;
  }
</style>
<ion-content>
  <br>
  <br>
  <ion-card>
    <center><h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="medkit" slot="start"></ion-icon>&nbsp;CareForYou Clinic</h1></center>
    <ion-card-content>
      <br>
      <ion-card-subtitle>List of Patient</ion-card-subtitle>
    <br>
      <ion-list>
      <ion-item>
        <ion-label>Amethyst Heartfield</ion-label>
        <ion-button id="auto-trigger">Confirm</ion-button>
<ion-popover trigger="auto-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Confirm Appointment Succesfully! <br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
<ion-button id="cover-trigger">Cancel</ion-button>
<ion-popover trigger="auto-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Cancelled Appointment Succesfully!<br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Caliah Gutierrez</ion-label>
        <ion-button id="a-trigger">Confirm</ion-button>
<ion-popover trigger="a-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Confirm Appointment Succesfully! <br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
<ion-button id="c-trigger">Cancel</ion-button>
<ion-popover trigger="c-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Cancelled Appointment Succesfully!<br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Ellena Wenworth</ion-label>
        <ion-button id="au-trigger">Confirm</ion-button>
<ion-popover trigger="au-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Confirm Appointment Succesfully! <br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
<ion-button id="co-trigger">Cancel</ion-button>
<ion-popover trigger="co-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Cancelled Appointment Succesfully!<br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Hermione Granger</ion-label>
        <ion-button id="aut-trigger">Confirm</ion-button>
<ion-popover trigger="aut-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Confirm Appointment Succesfully! <br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
<ion-button id="cov-trigger">Cancel</ion-button>
<ion-popover trigger="cov-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Cancelled Appointment Succesfully!<br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Isaiah Gavin Devera</ion-label>
        <ion-button id="to-trigger">Confirm</ion-button>
<ion-popover trigger="to-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Confirm Appointment Succesfully! <br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
<ion-button id="ver-trigger">Cancel</ion-button>
<ion-popover trigger="ver-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Cancelled Appointment Succesfully!<br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Kiara Zayne Montero</ion-label>
        <ion-button id="o-trigger">Confirm</ion-button>
<ion-popover trigger="o-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Confirm Appointment Succesfully! <br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
<ion-button id="coer-trigger">Cancel</ion-button>
<ion-popover trigger="coer-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">Cancelled Appointment Succesfully!<br><ion-button expand="full" href="do">Ok</ion-button></ion-content>
  </ng-template>
</ion-popover>
      </ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark pink">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="ddetails">
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
