<style>
  ion-content {
 --background: url(../../assets/bbb.jpg) no-repeat center/cover fixed;
       }
  ion-card {
    --background:#ffffff;
  }
  img {  
    width: 150px; 
    float: left; 
    margin-right: 10px;
    border-radius: 10px; 
  } 
</style>
<ion-content>
  <br>
  <ion-card>
    <center><h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', san;"><ion-icon name="medkit" slot="start"></ion-icon>&nbsp; CareForYou Clinic</h1></center>
    <center><ion-card-subtitle>Let’s Cure together</ion-card-subtitle></center>
    <br>
    <ion-card-content>
    <Img src="/assets/preg.jpg" /> 
    <div>
     <center>Welcome to Care For You Clinic, your number one source for obstetrics and gynaecology care. We're dedicated to giving you the very best treatment, with a focus on health issues in your life, including birth control, childbirth, and menopause.</center>
    </div>
    <br>
    <br>
    <Img src="/assets/bbpic.jpg" style="border-radius:10%; float:right; width:150px;height:150px;"/>
    <div>
     <center>Founded in 2022 by Dr. Ryan, CareForYou Clinic has come a long way from its beginnings in a Malitam in Batangas City. When Dr. Kaye first started out, his passion for helping people gave him the impetus to turn hard work and inspiration into a booming OB/GYN clinic. We now treat patients all over South Korea and Japan, and are thrilled to be a part of the care-giving wing of the medical industry.</center>
    </div>
    <br>
    <Img src="/assets/baby.jpg" style="border-radius:10%; float:left; width:150px;height:150px;"/>
    <div>
     <center>We hope you enjoy our treatments as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
<br>
      Sincerely,
      <br>
      DR. RYAN FALLARCUNA, CEO; DR. KAYE TIOSAN, COO; DR. JIMBOY GELITO & DR. CHRENZY ALMAREZ, </center>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="column">
        <img src="/assets/ryan.jpg" style="border-radius:50%; float:left; width:100px;height:100px;">
      </div>
      <div class="column">
        <img src="/assets/kaye.jpg" style="border-radius:50%; float:left; width:100px;height:100px;">
      </div>
      <div class="column">
        <img src="/assets/jim.jpg"  style="border-radius:50%; float:left; width:100px;height:100px;">
      </div>
      <div class="column">
        <img src="/assets/chren.jpg"  style="border-radius:50%; float:left; width:100px;height:100px;">
      </div>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark pink">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="home">
        <ion-icon name="caret-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-content>
    <ion-card>

    <ion-card-content>
      <iframe width="100%" height="480" src="https://www.youtube.com/embed/Nx_tAkI4O7U" title="15 Foods to Improve Baby's Brain  During Pregnancy - Pregnancy Foods for Intelligent Baby" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
  </ion-card>
  </ion-content>